<!-- Footer -->
<footer class="cnt_footer">
  <!-- Footer Elements -->
  <div class="container">
    <!-- Grid row-->
    <div class="row d-flex justify-content-center p-3">
        <!-- Twitter -->
        <a class="tw-ic col-2 text-center" href="https://twitter.com/BTS_bighit">
          <i class="fab fa-twitter fa-lg"> </i>
        </a>
        <!-- Facebook -->
        <a class="fb-ic col-2 text-center" href="https://www.facebook.com/bangtan.official/">
          <i class="fab fa-facebook-f fa-lg"> </i>
        </a>
        <!--Instagram-->
        <a class="ins-ic col-2 text-center" href="https://www.instagram.com/bts.bighitofficial/">
          <i class="fab fa-instagram fa-lg"> </i>
        </a>
        <!--Youtube-->
        <a class="yt-ic col-2 text-center" href="https://www.youtube.com/user/BANGTANTV">
          <i class="fab fa-youtube fa-lg"> </i>
        </a>
        <!--Pinterest-->
        <a class="pin-ic col-2 text-center" href="https://www.pinterest.es/search/pins/?q=bts&rs=typed&term_meta[]=bts%7Ctyped">
          <i class="fab fa-pinterest fa-lg"> </i>
        </a>
    </div>
    <!-- Grid row-->
  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="cnt_copyright text-center text-white p-2">© 2020 Copyright: Meriem Abjil Bajja</div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
