.navbar-inverse {
    display: flex;
    background-color: #222;
    border-color: #080808;
    flex-direction: row;
    margin-bottom: 1.2rem;
    font-family: 'Indie Flower';
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover {
    color: #fff;
}

.navbar-inverse .navbar-nav>li>a {
    color: #9d9d9d;
    font-weight: 600;
    font-size: 1.3rem;
    padding: 0.8rem 1.5rem;
}

.navbar-inverse .nav-item.active a {
    color: #b698bf !important;
}

@media (min-width: 768px) {
    .navbar-nav>li {
        float: left;
    }
}
