<!-- ############# VIDEO  ############# -->
<div class="d-flex flex-column w-100 h-75vh header bg-dark">
  <div class="h-100 w-100 bg-dark overlay"></div>
  <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
    <source src="assets/videos/bts_logo.mp4" type="video/mp4">
  </video>
  <img class="w-100 h-100 object-cover" src="assets/img/bts_logo.jpg" alt="BTS logo Cover" />
</div>

<!-- ############# BTS  ############# -->
<div class="d-flex flex-column w-100 h-75vh p-3 mx-auto bg-light-lila">
  <div class="container m-auto p-3">
    <h1 class="display-4 mb-5 text-center">BTS</h1>
    <p class="text-justify" *ngFor="let parrafo of bts_info.short_desc">{{ parrafo }}</p>
  </div>
</div>

<!-- ############# MEMBERS  ############# -->
<div class="d-flex flex-column w-100 h-75vh p-3 mx-auto cover">
  <h1 class="display-4 mt-3 mb-4 text-center">Members</h1>
  <div class='grid'>
    <div class='grid--item' *ngFor="let member of members">
      <div class='img'>
        <img class="w-100 h-100 object-cover" src='assets/img/members/{{ member.short_name }}/home_card.jpg' alt='{{ member.short_name }} Cover' />
      </div>
      <div class='container w-100 text-center text-white'>
        <h2>{{ member.name }}</h2>
        <div class='desc'><span *ngFor="let position of member.position, let i = index"><span *ngIf="i!=0">, </span>{{ showPosition(position) }}</span></div>
      </div>
    </div>
    <div style="clear: both"></div>
  </div>
</div>

<!-- ############# DISCOGRAFIA  ############# -->
<div class="d-flex flex-column w-100 h-75vh p-3 mx-auto bg-light-lila">
  <div class="container m-auto p-3">
    <h1 class="display-4 mt-3 mb-4 text-center">Albums</h1>
    <div class="row m-3 animated fadeIn">
      <div class="col-md-4" *ngFor="let album of getNewAlbums(newAlbums)">
        <div class="card">
          <div class="card-inner">
            <div class="card-front">
              <img [src]="album.card_img" class="card-img-top" alt="{{ album.title }} Cover">
            </div>
            <div class="card-back">
              <h3>{{ album.title }}</h3>
              <p>{{ album.sub_title }}</p>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="card">
        <img src="assets/img/albums/map-of-the-soul-persona.jpg" class="card-img-top" alt="MAP OF THE SOUL: PERSONA Album Cover">
      </div>
      <div class="card">
        <img src="assets/img/albums/love-yourself-answer.jpg" class="card-img-top" alt="LOVE YOURSELF 結 'Answer' Album Cover">
      </div>
      <div class="card">
        <img src="assets/img/albums/love-yourself-tear.jpg" class="card-img-top" alt="LOVE YOURSELF 轉 'Tear' Album Cover">
      </div>
      <div class="card">
        <img src="assets/img/albums/love-yourself-her.jpg" class="card-img-top" alt="LOVE YOURSELF 承 'Her' Album Cover">
      </div>
      <div class="card">
        <img src="assets/img/albums/you-never-walk-alone.jpg" class="card-img-top" alt="YOU NEVER WALK ALONE Album Cover">
      </div> -->
    </div>
  </div>
</div>

<div class="d-flex w-100 h-100 h-75vh">
  <img class="w-100 object-cover" src="assets/img/bts/hover_cover.jpg" alt="BTS Cover" />
</div>
