body {
  font-family: 'Handlee';
  font-size: 1.2rem;
}

.cover {
  background: url('assets/img/background.png')  black no-repeat center center scroll;
}

h1 {
  font-family: 'Indie Flower';
}

.object-cover {
  object-fit: cover;
}

.h-75vh {
  min-height: 75vh;
}

.bg-light-lila {
  background: var(--extra-light-lila);
}
