:root {
  /* Negres */
  --black: #000;
  --black-transparent-50: rgba(0, 0, 0, 0.5);
  /* Blaus */
  --turquesa: #40e0d0;
  /* Liles */
  --light-lila: #B698BF;
  --extra-light-lila: #ECE4EF;
  --light-lila-transparent: #53245399;
  /* Blancs */
  --white: #FFF;
}
