:root {
  /* Negres */
  --black: #000;
  --black-transparent-50: rgba(0, 0, 0, 0.5);
  /* Blaus */
  --turquesa: #40e0d0;
  /* Liles */
  --light-lila: #B698BF;
  --extra-light-lila: #ECE4EF;
  --light-lila-transparent: #53245399;
  /* Blancs */
  --white: #FFF;
  /* Albums */
  --map-of-the-soul-persona-1: #f688a1;
  --map-of-the-soul-persona-2: #ef6c90;
  --map-of-the-soul-7-1: #243072;
  --map-of-the-soul-7-2: #1b2458;
  --love-yourself-answer-1: #99bde7;
  --love-yourself-answer-2: #ca7ea1;
  --love-yourself-tear-1: #13161e;
  --love-yourself-tear-2: #1b202d;
  --love-yourself-her-1: #eef3fc;
  --love-yourself-her-2: #edd7e9;
  --you-never-walk-alone-1: #8bd1c4;
  --you-never-walk-alone-2: #6fa89d;
}
